development:
  adapter: postgresql
  encoding: unicode
  database: <%= ENV.fetch('DATABASE_NAME', 'interactive_portfolio_development') %>
  pool: <%= ENV.fetch('DATABASE_POOL', 5) %>
  username: <%= ENV.fetch('DATABASE_USERNAME', 'your_username') %>
  password: <%= ENV.fetch('DATABASE_PASSWORD', 'your_password') %>
  host: <%= ENV.fetch('DATABASE_HOST', '127.0.0.1') %>
  port: <%= ENV.fetch('DATABASE_PORT', 5432) %>

test:
  adapter: postgresql
  encoding: unicode
  database: <%= ENV.fetch('TEST_DATABASE_NAME', 'interactive_portfolio_test') %>
  pool: <%= ENV.fetch('DATABASE_POOL', 5) %>
  username: <%= ENV.fetch('DATABASE_USERNAME', 'your_username') %>
  password: <%= ENV.fetch('DATABASE_PASSWORD', 'your_password') %>
  host: <%= ENV.fetch('DATABASE_HOST', '127.0.0.1') %>
  port: <%= ENV.fetch('DATABASE_PORT', 5432) %>

production:
  url: <%= ENV["DATABASE_URL"] %>
